:root {
    --light-blue: #2196F3;
    --white: #fff;
    --gray: #757575;
    --black: #000;
    --icon: #F5F4FA;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

/* Початок Шапки сайта */
.header {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ececec;
    z-index: 10;
}

.header__container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu__body {
    display: flex;
    justify-content: flex-end;
}

.header__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    position: relative;
    color: #000;
    letter-spacing: 0.03em;
    z-index: 5;
}

.logo__company {
    color: var(--light-blue);
}

.menu__list {
    display: flex;
    align-items: center;
}

.header__assoc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 932px;
}

/* Спроба */

.header__addres {
    display: flex;
    align-items: center;
}

.menu__item {
    margin: 0px 30px 0px 0px;
}

.menu__item:last-child {
    margin: 0;
}

.menu__icons {
    width: 16px;
    height: 12px;
    margin: 0px 10px 0px 0px;
}

.icon__smartphone {
    width: 10px;
    height: 16px;
}

/* Спроба */
.menu__icon {
    display: none;
}

.menu__list>li {
    margin: 0px 50px 0px 0px;
}

.menu__link {
    display: inline-block;
    padding: 20px 0px 20px 0px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: inherit;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item__link{
    position: relative;
}
.menu__list li a::after{
    content: "";
    display: inline-block;
    width: 0%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: -13px;
    left: 0;
    opacity: 0;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__list li a:hover::after{
    opacity: 1;
    width: 100%;
}
.menu__list li a.active::after{
    opacity: 1;
    width: 100%;
}
.link__addres {
    display: flex;
    align-items: center;
    font-family: inherit;
    color: var(--gray);
}

.menu__link:hover,
.menu__link:focus {
    color: var(--light-blue);
}

/* Початок роботи з JS */
/* Відображенння сторінки 1 */
body._lock {
    overflow: hidden;
}

body._pc .menu__list>li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

/* Відображення трикутника біля сторінки 1 */
body._touch .menu__list>li {
    display: flex;
    align-items: center;
}

body._touch .menu__link {
    flex: 1 1 auto;
}

body._touch .menu__list>li._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

/* Кінець роботи з JS */
@media (max-width: 480px) {

    /* Початок роботи над меню Бургер */
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .header__menu {
        display: contents;
    }

    /* Три полоскі */
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    /* Хрестік меню бургера(щоб закрити) */
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        padding: 0px 23px 0px 15px;
    }

    /* Ховається контент для бургера */
    .menu__body {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: left 0.3s ease 0s;
        padding: 100px 30px 30px 30px;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #fff;
        z-index: 2;
    }

    .header__assoc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header__addres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .menu__list>li {
        margin: 0px 0px 30px 0px;
    }

    .menu__list>li:last-child {
        margin-bottom: 0;
    }

    .menu__list>li._active .menu__sub-list {
        display: block;
    }

    .menu__link {
        font-size: 40px;
        color: #000;
    }

    /* Кінець роботи над меню Бургер */
}

/* Кінець Шапки сайта */
/* Початок контенту сайта */
/* Початок секції About order */
.main {
    margin: 80px 0px 0px 0px;
}
.main__about {
    background-color: #2f303a;
}
.about__background{
    background-blend-mode: multiply;
    background: url(../images/image_order.jpg) center / cover no-repeat, linear-gradient(90deg, rgba(47,48,58,0.4) 0%, rgba(196,196,196,0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    margin: 0px auto;
    height: 600px;
}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
}
.about__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    width: 696px;
    height: 120px;
    text-align: center;
}
/* Стили для подложки */
.overlay {
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
 }
 /* Стили для модальных окон */
 .modal {
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;
    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 528px;
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Должен быть выше чем у подложки*/
    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    padding: 40px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
 }
 /* Стили для активных классов подложки и окна */
 .modal.active,
 .overlay.active{
    opacity: 1;
    visibility: visible;
 }
 /* Стили для кнопки закрытия */
 .modal__cross {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 8px;
    right: 8px;
    fill: #000;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 10px;
    box-sizing: content-box;
 }
 .modal__cross:hover{
    fill: #2196F3;
 }
.field__title{
    text-align: center;
    padding: 2px 0px 12px 0px;
}
.modal__text{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
}
.field__item{
    position: relative;
    padding-bottom: 10px;
}
.field__item:nth-child(5){
    padding-bottom: 20px;
}
.field__item:nth-child(6){
    padding-bottom: 30px;
}
.field__item:nth-child(7){
    padding-bottom: 0px;
}
.field__label{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
.field__assoc{
    margin-top: 4px;
}
.field__input{
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
}
.field__icon{
    position: absolute;
    fill: #212121;
    width: 18px;
    height: 18px;
    left: 0;
    transform: translate(11px, 12px);
}
.field__input:hover,
.field__input:focus{
    border: 1px solid #2196F3;
}
.field__input:hover + .field__icon,
.field__input:focus + .field__icon{
    fill: #2196F3;
}
.field__textarea{
    width: 100%;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    font-family: inherit;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    min-height: 120px;
    resize: none;
    overflow-y: scroll;
    cursor: auto;
}
.field__textarea::placeholder{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.field__textarea::-webkit-scrollbar {
    width: 7px;
}
.field__textarea::-webkit-scrollbar-thumb {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #cccccc;
    border-radius: 4px;
}
.field__textarea:hover,
.field__textarea:focus{
    border: 1px solid #2196F3;
}
.field__agree{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input__checkbox{
    width: 16px;
    height: 16px;
}
.input__checkbox[type=checkbox]:checked{
    border: none;
}
.agreement__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 8px;
}
.agreement__text-color{
    color: #2196F3;
    text-decoration: underline;
}
.field__btn{
    display: flex;
    justify-content: center;
}
 /* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
.prosto {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
 }
 .field__button{
    background-color: #2196F3;
    margin: 0;
}
/* Кінець Popup меню */
/* Кінець секції About order */
/* Початок секції Наші переваги */
.adventage__container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    padding: 94px 15px 94px 15px;
}
.adventage__title {
    display: none;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.adventage__menu {
    display: flex;
    gap: 30px;
}
.adventage__attention {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon);
    width: 270px;
    height: 120px;
}

.adventage__icon {
    width: 70px;
    height: 70px;
}

.adventage__sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    margin: 30px 0px 10px 0px;
}

.text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gray);
    width: 270px;
    height: 75px;
}

/* Кінець секції Наші переваги */
/* Початок секції Чим ми займаємось */
.main__employment{
    padding-bottom: 94px;
}
.employment__container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px 0px 15px;
}
.employment__menu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.employment__item {
    position: relative;
}
.employment__background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
.background__sub-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}
/* Кінець секції Чим ми займаємось */
/* Початок секції Наша команда */
.main__team {
    padding: 94px 0px;
    background-color: #f5f4fa;
}
.team__container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px 0px 15px;
}
.team__title{
    margin-bottom: 50px;
}

.team__mark {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team__list {
    width: 270px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 30px 0px 10px 0px;
}

.team__respons {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray);
}

.team__icon {
    height: 20px;
    width: 20px;
    margin: auto;
}

.team__menu-social {
    margin: 16px 0px 30px 0px;
}

.team__item-social {
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
}

.social__link {
    color: #afb1b8;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover {
    color: #fff;
    background-color: #2196f3;
}


/* Кінець секції Наша команда */
/* Початок секції Постоянні клієнти */
.customers {
    padding: 94px 0px 94px 0px;
}
.customers__container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px 0px 15px;
}
.customers__menu {
    display: flex;
    gap: 30px;
}

.customers__link {
    width: 170px;
    height: 91px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover {
    border: 1px solid #2196f3;
}

.customers__link:hover>.customers__icon {
    color: #2196f3;
}

.customers__icon {
    width: 106px;
    height: 70px;
    color: #afb1b8;
    transition: 0.3s;
}

/* Кінець секції Постоянні клієнти */
/* Кінець контенту сайта */
/* Початок Підвалу сторінки */
.footer {
    height: 252px;
    background-color: #2f303a;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 60px 15px 0px 15px;
}

.footer__logo {
    color: var(--white);
}

.footer__address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:last-child {
    padding: 0;
}

.footer__address:hover,
.footer__address:focus {
    color: var(--light-blue);
}

.address {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
    gap: 9px;
}

.join {
    padding: 12px 0px 0px 0px;
}

.join__text {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.14;
    color: var(--white);
}

.join__menu-social {
    display: flex;
    gap: 10px;
    padding-top: 20px;
}

.join__social-link {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    ;
}

.address__company {
    color: rgba(255, 255, 255, 0.6);
}
.footer__militing{
    padding-top: 12px;
}
.militing__item{
    padding-bottom: 20px;
}
.militing__input-item{
    display: flex;
}
.militing__input{
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
}
.militing__input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6); 
}
.militing__input:hover,
.militing__input:focus{
    border: 1px solid #2196F3;
}
.militing__sub{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.telegram__icon{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
/* Кінець Підвалу сторінки */
/* Початок Унікального контенту сторінки Portfolio */
.main__container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px 94px 15px;
}
.main__button {
    display: flex;
    justify-content: center;
    padding: 94px 0px 50px 0px;
}
.main__button > li{
    display: flex;
    gap: 8px;
}

.button__choice {
    width: 73px;
    height: 38px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__choice:nth-last-child(4) {
    width: 128px;
}

.button__choice:nth-last-child(3) {
    width: 145px;
}

.button__choice:nth-last-child(2) {
    width: 103px;
}

.button__choice:nth-last-child(1) {
    width: 130px;
}
.button__choice:hover,
.button__choice:focus {
    background-color: var(--light-blue);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.main__photo {
    display: flex;
    flex-wrap: wrap;
}

.name__project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.image {
    width: 370px;
    height: 294px;
}

.main__photo-item {
    width: 370px;
    height: 404px;
    background: #fff;
    margin: 0px 30px 30px 0px;
}

.main__photo-item:nth-child(9), .main__photo-item:nth-child(8), .main__photo-item:nth-child(7){
    margin-bottom: 0;
}
.main__photo-item:nth-child(9), .main__photo-item:nth-child(6), .main__photo-item:nth-child(3){
    margin-right: 0;
}
.main__photo-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.name__activity {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--gray);
}

.name__assoc {
    position: relative;
    padding: 20px 24px 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0px;
}
.main__assoc{
    position: relative;
    overflow: hidden;
}
.main__photo-text{
    width: 370px;
    height: 294px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main__photo-item:hover .main__photo-text{
    transform: translateY(0%);
    opacity: 1;
}
/* Кінець Унікального контенту сторінки Portfolio */